@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

@media only screen and (min-width: 768px) { /* For desktop: */
    .col-1 {
        display: inline-block;
        transform: scale(0.9);
    }
    label.card__heading {
        font-size: 1.3em;
    }
}

@media only screen and (max-device-width: 480px) { /* For mobile phones (vertical) */
    .title {
        transform: scale(0.8);
    }

    .logo {
        margin-top: 3px;
    }

    .text-form-style {
        margin-left: 0 !important;
    }

    .header-menu a {
        display: block;
        align-items: center;
        align-content: center;
        text-align: center;
        justify-items: center;
        justify-content: center;
    }

    .text-form-style {
        margin-left: 0;
    }

    .page-wrapper {
        position: relative;
        transform: scale(0.6);
        transform-origin: top;
    }

    .col-1 {
        display: inline-block;
        transform: scale(0.85);
    }

    .menu-text {
        align-items: center;
        align-content: center;
        text-align: center;
        justify-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .menu-text img {
        display: none;
    }

    .effect-one a:hover:before {
        visibility: hidden;
        transform: scaleX(0) !important;
    }

    .buttons-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .button {
        margin: 10px 0;
        border-radius: 50px;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
    }

    /* Apply margin-bottom to all buttons except the last one */
    .button:not(:last-child) {
        margin-bottom: 10px;
    }

    .button.green {
        background-color: #0b8c0b;
        color: #f0f0f0;
    }

    .button.red {
        background-color: #B71212;
        color: #f0f0f0;
    }

    .button.blue {
        background-color: #fffb00;
        color: #e10707;
    }
}

@media only screen and (max-device-width: 540px) { /* For mobile phones (vertical) */

    .title {
        transform: scale(0.8);
    }

    .page-wrapper {
        display: block;
        transform: scale(0.8);
    }

    .effect-one a:hover:before {
        visibility: hidden;
        transform: scaleX(0) !important;
    }

    #radio-text {
        display: none;
    }

    .buttons-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .button {
        margin: 10px 0;
        border-radius: 50px;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
    }

    /* Apply margin-bottom to all buttons except the last one */
    .button:not(:last-child) {
        margin-bottom: 10px;
    }

    .button.green {
        background-color: #0b8c0b;
        color: #f0f0f0;
    }

    .button.red {
        background-color: #B71212;
        color: #f0f0f0;
    }

    .button.blue {
        background-color: #fffb00;
        color: #e10707;
    }
}

@media only screen and (max-device-width: 1024px) { /* Nest Hub */
    #radio-text {
        display: none;
    }

    #app-cover {
        margin: 0 auto;
        position: relative;
        transform: translateY(50px) translateX(-12px) scale(0.7) !important;
    }

    .buttons-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .button {
        margin: 10px 0;
        border-radius: 50px;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
    }

    /* Apply margin-bottom to all buttons except the last one */
    .button:not(:last-child) {
        margin-bottom: 10px;
    }

    .button.green {
        background-color: #0b8c0b;
        color: #f0f0f0;
    }

    .button.red {
        background-color: #B71212;
        color: #f0f0f0;
    }

    .button.blue {
        background-color: #fffb00;
        color: #e10707;
    }
}

@media only screen and (max-device-width: 280px) { /* Nest Hub */
    #app-cover {
        margin: 0 auto;
        position: relative;
        transform: translateY(5px) translateX(-73px) scale(0.5) !important;
    }

    .buttons-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .button {
        margin: 10px 0;
        border-radius: 50px;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
    }

    /* Apply margin-bottom to all buttons except the last one */
    .button:not(:last-child) {
        margin-bottom: 10px;
    }

    .button.green {
        background-color: #0b8c0b;
        color: #f0f0f0;
    }

    .button.red {
        background-color: #B71212;
        color: #f0f0f0;
    }

    .button.blue {
        background-color: #fffb00;
        color: #e10707;
    }
}

@media only screen and (max-device-width: 1200px) { /* For tablets */

    .text-form-style {
        margin-left: 0 !important;
    }

    .header-menu a {
        display: block;
        align-items: center;
        align-content: center;
        text-align: center;
        justify-items: center;
        justify-content: center;
    }

    .effect-one a:hover:before {
        visibility: hidden;
        transform: scaleX(0) !important;
    }

    #app-cover {
        margin: 0 auto;
        position: relative;
        transform: translateY(5px) translateX(-3px);
    }

    .menu-text img {
        display: none;
    }

    .page-wrapper {
        display: block;
    }

    footer {
        margin-top: 16vh;
    }

    footer#admin-info {
        margin-top: 36vh;
    }

    .buttons-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .button {
        margin: 10px 0;
        border-radius: 50px;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
    }

    /* Apply margin-bottom to all buttons except the last one */
    .button:not(:last-child) {
        margin-bottom: 10px;
    }

    .button.green {
        background-color: #0b8c0b;
        color: #f0f0f0;
    }

    .button.red {
        background-color: #B71212;
        color: #f0f0f0;
    }

    .button.blue {
        background-color: #fffb00;
        color: #e10707;
    }
}

/* For mobile phones && tablets (horizontal) */
@media only screen and (max-device-width: 1200px) and (orientation: landscape) {

    .title {
        transform: scale(0.8);
    }

    .menu-text {
        transform: scale(0.8);
        flex-wrap: wrap;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 50px; /* Add margin-top to align text to red line */
    }

    .menu-text img {
        display: none;
    }

    .effect-one a:hover:before {
        visibility: hidden;
        transform: scaleX(0) !important;
    }

    .buttons-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .button {
        margin: 10px 0;
        border-radius: 50px;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
    }

    /* Apply margin-bottom to all buttons except the last one */
    .button:not(:last-child) {
        margin-bottom: 10px;
    }

    .button.green {
        background-color: #0b8c0b;
        color: #f0f0f0;
    }

    .button.red {
        background-color: #B71212;
        color: #f0f0f0;
    }

    .button.blue {
        background-color: #fffb00;
        color: #e10707;
    }
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.header-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-items: center;
    justify-content: center;
    padding: 70px;
    box-sizing: border-box;
    background: linear-gradient(-45deg, #23a6d5, #a5deef, #daf3a3, #bce4d4);
    background-size: 400% 400%;
    -webkit-animation: gradient 15s ease infinite;
    animation: gradient 15s ease infinite;
}

.title {
    font-family: 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    color: #1D2123;
}

.logo {
    margin-top: 50px;
    width: 105px;
    height: auto;
    border-radius: 25px;
    position: absolute;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: fadeIn 0.75s linear forwards;
    animation-delay: 0.5s;
}

.circle {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: stroke 2s ease-out forwards;
}

.circle-container {
    margin-top: 50px;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.circle-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@keyframes stroke {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.img-about-logo {
    display: flex;
    padding-top: 10vh;
}

.text-form-style {
    display: inline;
    margin-left: 90px;
    cursor: pointer;
    word-wrap: normal;
    font-family: 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 27px;
    border: none;
}

#video-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 20px solid black;
    z-index: -1;
}

#app-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 4;
}

.custom-file-input {
    position: relative;
    display: inline-block;
}

.file-input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.placeholder {
    color: black;
}

input.invalid {
    border-color: red;
}

/* Optional styling */
.custom-file-input {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 4px;
}

.card__heading {
    display: inline-block;
    margin-right: 10px;
}

/*---- Buttons container ----*/
.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    margin: 0 10px;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.button.green {
    background-color: #0b8c0b;
    color: #f0f0f0;
}

.button.red {
    background-color: #B71212;
    color: #f0f0f0;
}

.button.yellow {
    background-color: #fffb00;
    color: #e10707;
}

/*-----Buttons effect -----*/
.effect-one a {
    position: relative;
}

.effect-one a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    margin: -5px 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out 0s;
}

.effect-one a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

/*---- Buttons ----*/
.text-form-style#home {
    color: #1D2123;
}

.text-form-style#home-pressed {
    color: #FCFFFF;
}

.text-form-style#radio-cz {
    color: #1D2123;
}

.text-form-style#radio-cz-pressed {
    color: #FCFFFF;
}

.text-form-style#about-us {
    color: #1D2123;
}

.text-form-style#about-us-pressed {
    color: #FCFFFF;
}

.text-form-style#my-documents {
    color: #1D2123;
}

.text-form-style#my-documents-pressed {
    color: #FCFFFF;
}

.text-form-style#sign-in {
    color: #1D2123;
}

.text-form-style#sign-in-pressed {
    color: #FCFFFF;
}

.text-form-style#contact-info {
    color: #1D2123;
}

.text-form-style#contact-info-pressed {
    color: #FCFFFF;
}

.text-form-style#exit {
    color: #B71212;
}

/*-------------------------*/

.page-wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.menu-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    text-align: left;
    align-items: center;
    gap: 30px;
    position: relative;
    padding-top: 10vh;
    font-family: 'Helvetica', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: #1D2123;
}

.menu-text img {
    width: auto;
    height: 209px;
    max-width: 500px;
    border-radius: 25px;
    margin-left: 400px;
}

.menu-text img#admin-image {
    width: 27vh;
    height: auto;
    border-radius: 50px;
    margin-bottom: 9.3vh;
}


/*---- Menu-text conf ----*/
.menu-text#length1 {
    gap: 280px;
}

.menu-text#length2 {
    gap: 180px;
}

.menu-text#length3 {
    gap: 235px;
}

.menu-text#radio-title {
    font-family: 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
}
